@import "../../../../styles/vars";

mat-toolbar {
  background: transparent;
  position: fixed;
  z-index: 10;
  color: $color-white;
  height: $height-header;

  &.bottom {
    background-color: $color-purple;
  }

  &.top {
    background-color: transparent;
  }
}

.Header__container {
  display: flex;
}

.Header__link {
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0 1rem;

  &--logo {
    color: $color-white;
    text-decoration: none;

    :hover {
      cursor: pointer;
    }
  }

  &--button {
    border-color: $color-white;
  }
}
