<mat-toolbar [ngClass]="scroll ? 'bottom' : 'top'">
  <div class="container">
    <div class="Header__container">
      <div class="Header__logo">
        <a class="Header__link--logo Header__logo" routerLink="/">
          Education Platform
        </a>

        <div class="Header__Menu--mobile">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink="/" mat-menu-item>
              <mat-icon>home</mat-icon>
              <span>Inicio</span>
            </button>
            <button mat-menu-item routerLink="/home" fragment="categories">
              <mat-icon>category</mat-icon>
              <span>Categorias</span>
            </button>
            <button mat-menu-item routerLink="/content">
              <mat-icon>description</mat-icon>
              <span>Contenido</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="Header__menu">
        <a mat-button class="Header__link" routerLink="/">Inicio</a>
        <a
          mat-button
          class="Header__link"
          routerLink="/home"
          fragment="categories"
          >Categorias</a
        >
        <a mat-button class="Header__link" routerLink="/content">Contenido</a>
      </div>

      <div class="Header__login">
        <a class="Header__link--button" mat-stroked-button routerLink="/"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</mat-toolbar>
