<section class="ContentDetail">
  <div class="container">
    <div class="ContentDetail__container">
      <div class="ContentDetail__content" *ngIf="content">
        <p>Categoría | {{ content.category.name }}</p>
        <h1 class="ContentDetail__title">
          {{ content.title }}
        </h1>
        <p>
          {{ content.description }}
        </p>
        <p>
          {{ content.content }}
        </p>
        <p>
          Fecha límite de acceso : {{ content.date_limit | date: "mediumDate" }}
        </p>
        <h4>Etiquetas:</h4>
        <mat-chip-list aria-label="Etiquetas">
          <mat-chip *ngFor="let tag of content.tags">{{ tag }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <figure>
    <img [src]="content.image | imageRender" *ngIf="content" />
  </figure>

  <div class="overlay"></div>
</section>
