<mat-toolbar>
  <div class="container">
    <div class="Header__container">
      <div fxShow="true" fxHide.gt-sm="true">
        <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a routerLink="/"> Education Platform </a>
      <span class="spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <a class="Header__link" routerLink="/">Inicio</a>
        <a class="Header__link" routerLink="/category">Categorias</a>
        <a class="Header__link" routerLink="/content">Contenido</a>
      </div>

      <span class="spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <a mat-stroked-button routerLink="/">Iniciar sesión</a>
      </div>
    </div>
  </div>
</mat-toolbar>
<!-- <mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav
    color="primary"
    #sidenav
    fxLayout="column"
    mode="over"
    opened="false"
    fxHide.gt-sm="true"
  >
    <div fxLayout="column">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> Awesome content </mat-sidenav-content>
</mat-sidenav-container> -->
