@import "../../../styles/vars";

mat-toolbar {
  background-color: transparent;
  position: fixed;
  z-index: 3;
  color: $color-white;
}

.Header__container {
  display: flex;
}

.Header__link {
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0 1rem;
}

a:hover {
  cursor: pointer;
}
