.Contents {
  padding: 2rem 0;
  min-height: 200px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 425px) {
      grid-template-columns: 1fr;
    }
  }
}
