@import "../../../../styles/vars";

.Tags {
  padding: 2rem 0;

  &__group {
    border: none;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }

  .mat-button-toggle-group-appearance-standard
    .mat-button-toggle
    + .mat-button-toggle {
    border: none;
  }

  &__button {
    // margin: 0 0.5rem;
    padding: 0 1rem;
    background: transparent;
    border: none;
    transition: 0.3s;

    &.active {
      box-shadow: inset 0px -3px 1px $color-purple;
    }
  }

  @media only screen and (max-width: 768px) {
    mat-button-toggle-group {
      flex-wrap: wrap;
    }
  }
}
