//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #636edd;
$color-light-gray: #eeeff3;
$color-deg-purple: linear-gradient(
  337deg,
  rgba(99, 110, 221, 1) 0%,
  rgba(67, 78, 186, 1) 100%
);

$color-deg-content: linear-gradient(
  90deg,
  rgba(67, 76, 168, 1) 18%,
  rgba(99, 110, 221, 1) 48%,
  rgba(40, 49, 124, 0) 100%
);

//height
$height-header: 60px;
$height-hero: 550px;
$height-contents: 150px;

//restar el header
$height-content-detail: calc(100vh - 60px);
