//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #636edd;
$color-deg-purple: linear-gradient(
  337deg,
  rgba(99, 110, 221, 1) 0%,
  rgba(67, 78, 186, 1) 100%
);

//height
$height-hero: 550px;
