<section class="Category">
  <div class="container">
    <div
      class="Category__container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h2>Explora por categorías</h2>
      <p>
        Todos nuestros contenidos están clasificados por categorías, selecciona
        las de tu interés
      </p>
      <div
        class="Category__list"
        fxLayout="row"
        fxLayout.xs="column"
        xLayoutAlign="center center"
        fxLayoutGap="30px"
        *ngIf="categories.length > 0 && loading === false"
      >
        <mat-card
          fxFlex="20"
          fxFlex.lg="30"
          fxFlex.sm="30"
          *ngFor="let category of categories"
          class="Category__card"
          [routerLink]="['/content/category/', category.id]"
        >
          <figure>
            <img [src]="category.image | imageRender" />
          </figure>
          {{ category.name | titlecase }}
        </mat-card>
      </div>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  </div>
</section>
