<section class="Hero" fxLayout="column" fxLayoutAlign="center center">
  <div class="container">
    <p class="Hero__description animate__animated animate__fadeInDown">
      Creemos que todos somos aprendices para toda la vida #LifelongLearning
    </p>
    <h1 class="Hero__title animate__animated animate__fadeIn">
      Aprende algo nuevo hoy!
    </h1>

    <app-search-content></app-search-content>
    <!-- <form autocomplete="off" class="animate__animated animate__fadeInUp">
      <mat-form-field appearance="fill">
        <mat-label>¿Que quieres aprender?</mat-label>
        <input matInput placeholder="Angular JS..." />
      </mat-form-field>
    </form> -->
  </div>
  <figure class="Hero__figure">
    <img
      class="Hero__image"
      src="assets/images/undraw_graduation_re_gthn.svg"
      alt="Imagen hero"
    />
  </figure>
</section>
