<mat-card class="ContentCard">
  <img mat-card-image [src]="content.image | imageRender" />
  <mat-card-content>
    <mat-card-title class="ContentCard__title">{{
      content.title
    }}</mat-card-title>
    <p>
      {{
        content.description.length > 75
          ? (content.description | slice: 0:74)
          : content.description
      }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="primary"
      mat-raised-button
      [routerLink]="['/content/', content.id]"
    >
      <mat-icon aria-hidden="false">open_in_new</mat-icon>
      Ver más
    </button>
    <button
      *ngIf="viewed"
      color="accent"
      mat-raised-button
      (click)="openDialog()"
    >
      <mat-icon aria-hidden="false" aria-label="Visto">visibility</mat-icon>
      Visto
    </button>
  </mat-card-actions>
</mat-card>
