.ContentCard {
  margin-bottom: 2rem;
  // height: 380px;
  // box-sizing: border-box;
  // overflow: hidden;

  &__title {
    font-size: 1.3rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
}
