@import "../../../../styles/vars";

.Contents {
  background: $color-deg-purple;
  padding-top: $height-header;
  text-align: center;

  &__container {
    height: $height-contents;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-white;
    line-height: normal;
  }
}
